/**************************** CSS Reset  ****************************/
div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
ol,ul{list-style:none;}

body 
{ 
    background:url(../images/bg.png) repeat;
    font-family:Arial, Helvetica, sans-serif;
    color:#7f7f7f;
}
header img#logo {
    height:200px;
    width:400px;
}
a{
    text-decoration:none;
    color:white;
}

a:hover {
    text-decoration: underline;
    color: black;
}

form {
    width: 350px;
    padding: 20px;
    border: 1px solid #0088c3;
    color : white;
    height: 170px;
    position:fixed; top:50%; left:50%; margin-top:-125px; margin-left:-200px;
    /*** Rounded Corners ***/
    border-radius:20px;
    -moz-border-radius:20px; /* Firefox 3.6 and earlier */
    background: url(../images/signin.png);
    background-position: -5px 219px;
    /*** Background Gradient - 2 declarations one for Firefox and one for Webkit ***/
    background:-moz-linear-gradient(19% 75% 90deg,#0177a9, #53c3e8);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#53c3e8), to(#0177a9));
    /*** Shadow behind the box ***/
    box-shadow: 0px -5px 15px #00aaff;;
}

#addevent{
     width: 350px;
    padding: 20px;
    border: 1px solid #0088c3;
    color : white;
    height: 400px;
    position:fixed; top:50%; left:50%; margin-top:-125px; margin-left:-200px;
    /*** Rounded Corners ***/
    border-radius:20px;
    -moz-border-radius:20px; /* Firefox 3.6 and earlier */

    /*** Background Gradient - 2 declarations one for Firefox and one for Webkit ***/
    background:-moz-linear-gradient(19% 75% 90deg,#0177a9, #53c3e8);
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#53c3e8), to(#0177a9));
    /*** Shadow behind the box ***/
    box-shadow: 0px -5px 15px #00aaff;;   
}

h2 {
    font-size:25px;
    margin:0;
    padding:0 0 10px 0;
    font-weight:bold;
    outline:none;
}

h3 {
    margin:0;
    padding:0 0 10px 0;
    font-weight:bold;
    text-decoration: underline;
    float:left;
    font-size:10px;
}

h4 {
    margin:0;
    padding:0 0 10px 0;
    font-weight:bold;
    outline:none;
    float:left;
    font-size:9px;
}

input {
    width: 330px;
    background: #4ec5ef;
    padding: 6px;
    margin-bottom: 10px;
    border-top: 1px solid #76cae5;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    color : white;

    /*** Adding CSS3 ***/

    /*** Transition Selectors - What properties to animate and how long ***/
    -webkit-transition-property: -webkit-box-shadow, background;
    -webkit-transition-duration: 0.25s;

    /*** Adding a small shadow ***/
    -moz-box-shadow: 0px 0px 2px #FFF;
    -webkit-box-shadow: 0px 0px 2px #FFF;
}

input::-webkit-input-placeholder {
    color: white;
}
input:-moz-placeholder {
    color: white;
}
input:hover {
    -webkit-box-shadow: 0px 0px 4px #FFF;
    background: #0a9fe9;
}

input.submit {
    background-color: #ee432e;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee432e), color-stop(50%, #c63929), color-stop(50%, #b51700), color-stop(100%, #891100));
    background-image: -webkit-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    background-image: -moz-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    background-image: -ms-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    background-image: -o-linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    background-image: linear-gradient(top, #ee432e 0%, #c63929 50%, #b51700 50%, #891100 100%);
    border: 1px solid #951100;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
    -ms-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
    -o-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
    color: #fff;
    font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
    line-height: 1;
    padding: 8px 0 10px 0;
    text-align: center;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
    width: 150px; 
    float:right;


}

input.submit:hover {
    background-color: #f37873;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f37873), color-stop(50%, #db504d), color-stop(50%, #cb0500), color-stop(100%, #a20601));
    background-image: -webkit-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -moz-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -ms-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: -o-linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    background-image: linear-gradient(top, #f37873 0%, #db504d 50%, #cb0500 50%, #a20601 100%);
    cursor: pointer;
}


input.submit:active {
    background-color: #d43c28;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d43c28), color-stop(50%, #ad3224), color-stop(50%, #9c1500), color-stop(100%, #700d00));
    background-image: -webkit-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -moz-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -ms-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: -o-linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    background-image: linear-gradient(top, #d43c28 0%, #ad3224 50%, #9c1500 50%, #700d00 100%);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    -ms-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    -o-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4); }

#welcome{
    top:10px;
    float:left;
    color:white;
}

footer{
    color: white;
    font-size: 10px;
    bottom:0; left:50%;
    position:fixed;
    opacity:.9;
    font-family: Arial, Helvetica, sans-serif;
}